$base-color: rgb(133, 184, 184);

body{
  background-color: $base-color;
  text-align: center;
}

header{
  color:	rgb(248, 242, 234);
}

button{
  &:hover{
    color:#6495ED;
  }
  color:rgb(207, 116, 116);
  background-color: aliceblue;
  border: none;
  margin: 40px;
  padding: 5px;
}

.positive{
  color:green;
  font-size: 60px;
}
.negative{
  color:red;
  font-size: 20px;
}
.zero{
  color:black;
  font-size: 30px;
}